<script type="text/javascript">

  var picture;
  //
  // Initiate socket.io
  var socket = io.connect('http://localhost:8888');
  socket.emit('index', 'hello');

  socket.on('all', function(data){
    picture = data;
    console.log(data);
  });

</script>


<div class="drawing">
  <div class="top-bar">
    <div id="title">
      <h1><%= link_to("Gestalt Illusion", root_path) %></h1>
    </div>  
  </div>
</div>  


<div class="list">
<table>
  <thead>
    <tr>
      <th>Canvas</th>
    </tr>
  </thead>
  <tbody>
    <% @draws.each do |draw| %>
      <tr>
        <td><%= draw.canvas_name %></td>
        <td><%= link_to 'Show', draw %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<hr>

<%= link_to 'New Canvas', new_draw_path %>
</div>