.list {
	position: absolute;
	left: 50px;
	top:100px;
}

#title a:link, a:hover, a:visited {
	text-decoration: none;
  color: black;
	font-family: arial, helvetica, sans-serif;
}

canvas {
  background-color: #f5f5f5;
  width:950px;
  height:750px;
  display:block;
  margin:0px auto;
}

svg {
  background-color: #f5f5f5;
}

#tools {
  border: 1px solid black;
  width: 150px;
}

#tools a:link, a:hover, a:visited {
  text-decoration: none;
  font-family: arial, helvetica, sans-serif;
}

#tools ul{
    list-style-type: none;
}

