<div id="permanent-collection">Permanent Collection</div>

<div class="grid grid-path">
    <% @images.each do |image| %>
      <div class="col-2-3">
        <%= image.svg.html_safe %>
        <div>
          <%= image.title %>
        </div>
        <%= link_to 'Enlarge', image %>
      </div>
      <% end %>
</div>
