<h1>Gallery</h1>

<table>
  <thead>
    <tr>
      <th>Svg</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.svg.html_safe %></td>
        <td><%= image.title %></td>
        <td><%= link_to 'Enlarge', image %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
